_target_: terratorch.tasks.SemanticSegmentationTask
model_factory: EncoderDecoderFactory
model_args:
  backbone: timm_convnextv2_atto
  backbone_pretrained: True
  decoder: UperNetDecoder
  decoder_channels: 128
  head_channel_list: [128]
  head_dropout: 0.1
  num_classes: ???
loss: dice
ignore_index: -1
freeze_backbone: false
freeze_decoder: false 
plot_on_val: false
optimizer: AdamW
lr: 1.e-4
optimizer_hparams: {}
